* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #FF8A00 0%, #FDA085 100%);
}

/* CSS Top Button */

.topbar {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.topbutton{

    border: 2px solid white;
    border-radius: 50px;
    padding: 15px;
    margin: 20px;
    width: 200px;
    text-align: center;
    background-color: #FF8A00;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 4px 0px #B15F00;
}

.topbutton:active{

    transform: translateY(2px);
    box-shadow: 0px 2px 0px #B15F00;
}

#recherche, #submit {

    height: 30px;
}

/* CSS Div Inputs */

.divinput {

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #EFD299;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
    opacity: 50%;
    box-shadow: 1px 8px 2px rgba(0,0,0,0.8), 0 6px 2px rgba(0,0,0,0.23);
}

.divinput input {

    height: 30px;
    text-align: center;
    font-size: 15px;
}

.imagevalider, .imagesupprimer {

    height: 50px;
    cursor: pointer;
}

/* CSS Conteneur liste */

.conteneurliste {

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff;
    opacity: 35%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 20px;
    min-height: 100px;
    overflow-y: scroll;
}

.divChamp {

    width: 100%;
    height: 50px;
    border: 2px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.divConteneur {

    display: flex;
    align-items: center;

}

/* CSS objet conteneur liste */

.listeobjet {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    background-color: #EFD299;
    border-radius: 20px;
    box-shadow: 1px 8px 2px rgba(0,0,0,0.8), 0 6px 2px rgba(0,0,0,0.23);
}

.flou {
 
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 500;
    justify-content: center;
    backdrop-filter: blur(2px);
}

#popUpModifObjet{

    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    background-color:rgba(255  , 255, 255, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 600;
    border-radius: 10px;
    padding : 7px;
    color : #6a3902;
    
}

.popUpTab{

    display : flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 10px;
    text-align: center;
    
}

.popUpButton{

    padding-top: 25px;
    display : flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

}
.popUpModify, .popUpSupp, .popUpClose{

    width : 70px;
    height : 25px;
    background-color: #FF8A00;
    color:#e1e1e1;
    border-radius: 5px;
}
.popUpInput{

    background-color:#e1e1e1;
    color: #e1e1e1;
}

/****************************************************** ADMIN POP UP *************************************************************/

.glass{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: #FF8A00;
    opacity: 0.2;
    z-index: 90;
}

.adminpopuphidden {

    height: 300px;
    width: 700px;
    padding: 10px;
    position: absolute;
    display: flex;
    display: none;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    visibility: hidden;
}

.adminpopupvisible {

    height: 300px;
    width: 700px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    visibility: visible;
}

.adminpopuptopdiv {

    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.vidercollectionbouton {

    padding: 15px 0;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    box-shadow: 1px 4px 0px #B15F00;
    background-color: #FF8A00;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vidercollectionbouton:active{

    transform: translateY(2px);
    box-shadow: 0px 2px 0px #B15F00;
}

.divzonesaisie {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divzonesaisie input {
    height: 35px;
    margin-right: 5px;
    text-align: center;
}

.divzonesaisie button {
    height: 30px;
    padding: 5px;
    font-weight: bold;
    color: #fff;
    background-color: #FF8A00;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0px 4px 0px #B15F00;
}

.divzonesaisie button:active {
    transform: translateY(2px);
    box-shadow: 0px 2px 0px #B15F00;
}

.inputadminpopup {

    text-align: center;
    padding: 5px;
    margin-bottom: 30px;
}

.adminpopupdivcheckbox {

    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content: space-evenly;
    background-color: rgba(255, 138, 0, .8);
    border: none;
    border-radius: 20px;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, .3);
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .5);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divcheckbox {

    background: #FF8A00;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}