* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #ff8a00 0%, #fda085 100%);
}

/* CSS Top Button */

.topbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.topbutton {
  border: 2px solid white;
  border-radius: 50px;
  padding: 15px;
  margin: 20px;
  width: 200px;
  text-align: center;
  background-color: #ff8a00;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#recherche,
#submit {
  height: 30px;
}

/* CSS Div Inputs */

.divinput {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #efd299;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  opacity: 50%;
  box-shadow: 1px 8px 2px rgba(0, 0, 0, 0.8), 0 6px 2px rgba(0, 0, 0, 0.23);
}

.divinput input {
  height: 30px;
  text-align: center;
  font-size: 15px;
}

.imagevalider,
.imagesupprimer {
  height: 50px;
  cursor: pointer;
}

/* CSS Conteneur liste */

.conteneurliste {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  opacity: 35%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  min-height: 100px;
  overflow-y: scroll;
}

/* CSS objet conteneur liste */
.listeobjet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  background-color: #efd299;
  border-radius: 20px;
  box-shadow: 1px 8px 2px rgba(0, 0, 0, 0.8), 0 6px 2px rgba(0, 0, 0, 0.23);
}
